.form-side {
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 0px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.09);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #4c4ffe6f;
  }
}

.logo {
  img {
    @media (min-width: 320px) and (max-width: 767px) {
      width: 15px;
    }
  }
}
